<hr>
<strong [id]="myId">Property Binding</strong>
<div>attributes and properties are different, attributes cannot change once they are initialize. Property values can change</div>
<div>property binding occurs on the DOM element</div>
<br>
<div>You can use interpolation with curly brackets to set properties but interpolation only works for strings. Property binding works for other types such as boolean like 'disabled'</div>

<input type="text" [disabled]="myBool" placeholder="disabled set to false in component" style="width:300px">
<input type="text" [value]="myVal" style="width:300px">







