<h2>Angular How to - Project</h2>

<nav>
    <a routerLink="/" routerLinkActive="active">Home Page</a> | 
    <a routerLink="/rform" routerLinkActive="active">Reactive Form Page</a> |

</nav>
<router-outlet></router-outlet>

<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-class-binding></app-class-binding>
<app-event-binding></app-event-binding>
<app-structural-directives></app-structural-directives>
<app-component-interaction-parent></app-component-interaction-parent>

<app-employee-list></app-employee-list>
